$bkg_color: #eeeeee;
$col_color: #ffffff;

$svg_width: 0.7;
$plot_width: 0.5;

body {
    background-color: $bkg_color;
    margin: 0;
    border: 0;
    padding: 0;
}

h1 {
    font-size: 20pt;
    font-weight: bold;
}

p {
    margin: 0;
    border: 0;
    padding: 10px 30px;

    text-align: justify;
}

.column {
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;    
    background-color: $col_color;
    text-align: center;
}

.title_div {
    @extend .column;
    font-size: 70pt;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main_div {
    @extend .column;
    font-size: 16pt;
    padding-bottom: 5%;
}

#main_demo {

    padding: 0;
    border: 3px solid;
    border-color: #000000;
}

#plot_demo {

    padding: 0;
    border: 3px solid;
    border-color: #000000;
}

.goon {
    stroke: #222222;
    stroke-width: 2px;
}

.link {
    stroke: #000000;
    stroke-width: 1px;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: $svg_width*100%;
    vertical-align: top;
    overflow: hidden;
    padding-top: 1%;
}

.svg-container-main {
    @extend .svg-container;
    padding-bottom: $svg_width*60%+2%;
}

.svg-container-plot {
    @extend .svg-container;
    padding-bottom: $plot_width*60%+2%;
    width: $plot_width*100%;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    left: 0;
}

svg text {
    font-size: 14pt;
}

.plot-line {
    fill: none;
    stroke-width: 4px;
}